/* Import custom fonts */
@import url('./fonts/fonts.css');

/* Styles for the slogan header */
.Slogan-header h3 {
    font-family: p-thin; /* Use custom thin font */
    font-size: 1rem;
    text-align: center;
    opacity: 0.7; /* Initial opacity for subtle appearance */
    letter-spacing: 0.3rem; /* Increase letter spacing for emphasis */
    margin-top: -5rem; /* Negative margin to adjust vertical position */
    margin-bottom: 0%;
    text-shadow: 0rem 0rem 0.05rem #ffffff; /* Subtle text shadow */
    /* Smooth transitions for hover effects */
    transition: text-shadow 200ms ease-in-out, opacity 200ms ease-in-out;
}


/* Hover effect for the slogan header */
.Slogan-header h3:hover {
    color: #ffffff;
    opacity: 1; /* Full opacity on hover */
    text-shadow: 0rem 0rem 0.4rem #ffffff; /* Enhanced text shadow on hover */
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .Slogan-header h3 {
        font-size: 1.25rem; /* Adjust font size for smaller screens */
        letter-spacing: 0.2rem; /* Reduce letter spacing */
        height: fit-content;
        margin-top: 0.5rem; /* Reduce top margin */
        margin-bottom: 0.5rem; /* Reduce bottom margin */
        max-width: 90vw; /* Increase the maximum width on smaller screens */
    }
}

@media (max-width: 480px) {
    .Slogan-header h3 {
        font-size: 1rem; /* Further reduce font size for very small screens */
        letter-spacing: 0.1rem; /* Further reduce letter spacing */
        margin-top: 0.25rem; /* Further reduce top margin */
        margin-bottom: 0.25rem; /* Further reduce bottom margin */
        max-width: 95vw; /* Increase the maximum width on very small screens */
    }
}