.mint-success-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999999999999;
    opacity: 0;
    animation: fadeIn 0.3s ease-out forwards;
}

.mint-success-message {
    background-color: #121212;
    color: white;
    padding: 20px;
    border-radius: 8px;
    border: 2px solid #00FFA3;
    box-shadow: 0 0 10px rgba(0, 255, 163, 0.3);
    max-width: 400px;
    width: 100%;
    max-height: 90vh;
    overflow-y: auto;
    transform: scale(0.95);
    transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
}

.mint-success-message:hover {
    transform: scale(1);
    box-shadow: 0 0 20px rgba(0, 255, 163, 0.5);
}

.mint-success-title {
    font-family: 'p-medium', sans-serif;
    font-size: 1.5rem;
    margin: 10px 0 10px;
    color: #00FFA3;
    text-align: center;
}

.mint-success-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px 20px;
    justify-content: center;
    align-items: start;
}

.detail-label {
    font-family: 'p-light', sans-serif;
    font-weight: bold;
    color: white;
    text-align: right;
}

.detail-item {
    font-family: 'p-light', sans-serif;
    color: #ffffff;
    text-align: left;
    word-break: break-all;
}

.detail-item a {
    color: #00FFA3;
    text-decoration: none;
}

.detail-item a:hover {
    text-decoration: underline;
}

.mint-success-close {
    font-family: p-bold, sans-serif;
    font-size: 0.96rem;
    color: #FFFFFF;
    letter-spacing: 1px;
    border-radius: 0.4rem;
    border: none;
    background-image: linear-gradient(to top right, #666666, #333333); /* Darkened by 20% */
    background-size: 100% 100%;
    padding: 0.32rem 0.64rem;
    cursor: pointer;
    white-space: nowrap;
    text-transform: uppercase;
    position: relative;
    box-shadow: 1.6px 1.6px 4px rgba(0, 0, 0, 0.2);
    transition: background-image 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 240px;
    height: 45px;
    transform-origin: center center;
    will-change: transform;
    backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased;
    margin: 20px auto 0;
}

.mint-success-close:hover {
    background-image: linear-gradient(to bottom left, #666666, #333333); /* Darkened by 20% */
    transform: scale(1.08);
}

.mint-success-close:active {
    box-shadow: 0.8px 0.8px 1.6px rgba(0, 0, 0, 0.2);
    transform: translateY(1.6px) scale(1.08);
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@media (max-width: 768px) {
    .mint-success-message {
        max-width: 90%;
        padding: 15px;
    }

    .mint-success-title {
        font-size: 1.2rem;
        margin-bottom: 10px;
    }

    .mint-success-details {
        gap: 5px 10px;
    }

    .detail-label {
        font-size: 0.9rem;
    }

    .detail-item {
        font-size: 0.9rem;
    }

    .mint-success-close {
        font-size: 0.864rem; 
        padding: 6.4px;
        width: 192px;
        height: 36px;
    }
}
