.zk-switch-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0; /* Remove right margin */
    width: 100%; /* Ensure full width */
}

.warning-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%; /* Ensure full width */
    position: relative; /* Add relative position */
    left: 20rem; /* Reset left position */
    bottom: 4.5rem;
    margin-top: 0.5rem; /* Add a small margin top */
}

@media (max-width: 1500px) {
    .warning-box {
        position: relative; /* Change to relative position on smaller screens */
        left: 0; /* Reset right position */
        bottom: 0; /* Reset bottom position */
        margin-top: 1rem; /* Add margin to top */
    }
}

.zk-switch-text {
  font-family: p-light, sans-serif; /* Add a fallback font */
  font-size: 1rem;
  letter-spacing: 1.5px;
  text-align: center;
  margin: 0 0 8px 0;
  width: 100%; /* Ensure full width */
  color: #ffffff; /* Ensure text color contrasts with background */
}

.zk-switch{position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.zk-warning-message {
    color: #FFA500; /* Yellow-orange color for visibility */
    font-family: p-light;
    font-size: 0.9rem;
    text-align: center;
    padding: 10px;
    background-color: rgba(255, 165, 0, 0.1); /* Semi-transparent background */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(255, 165, 0, 0.1);
    transition: opacity 0.5s ease-in-out, box-shadow 0.3s ease-in-out;
    width: 100%; /* Change width to 100% */
    max-width: 350px; /* Add max-width */
    opacity: 1; /* Change this to 1 to make it visible by default */
}

/* Warning message header */
.zk-warning-message::before {
    content: 'WARNING';
    display: block;
    font-family: p-thin, sans-serif;
    font-weight: bold;
    margin-bottom: 5px;
}

/* Fade-in effect for warning message */
.zk-warning-message.fade-in {
    opacity: 1; /* Fully visible when class is applied */
}

/* Hover effect for warning message */
.zk-warning-message:hover {
    box-shadow: 0 0 15px rgba(255, 165, 0, 0.2); /* Enhance glow on hover */
}

.zk-slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #4b4b4b;
    transition: .4s;
    border-radius: 34px;
}

.zk-slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .zk-slider {
    background-color: #00FFA3;
    box-shadow: 0 0 10px #00FFA3; /* Add glow effect when checked */
}

/* Move slider button when checked */
input:checked + .zk-slider:before {
    transform: translateX(26px);
}