/* Import custom fonts */
@import url('./fonts/fonts.css');

.Brand-header h1 {
    font-family: p-medium; /* Custom font */
    font-size: 1.5rem; /* Set font size to 1.5 rem */
    letter-spacing: 0.25rem; /* Add spacing between letters */
    margin-bottom: 0; /* Remove bottom margin */
    color: #ffffff; /* Set text color to white */
    transition: text-shadow 450ms ease-in-out; /* Smooth transition for text shadow on hover */
}

.Brand-header h1:hover {
    text-shadow: 0 0 0.25rem #ffffff; /* Add white glow effect on hover */
    /* No need to repeat transition property as it's inherited from the non-hover state */
}
