.initializing-mint-message {
    background-color: #003b26;
    color: #00be79;
    padding: 5px 30px 10px; /* Reduced top padding from 10px to 5px */
    border-radius: 5px;
    margin-top: 40px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, box-shadow 0.3s ease-in-out, border 0.3s ease-in-out, color 0.3s ease-in-out;
    box-shadow: 0 0 10px rgba(0, 255, 163, 0.5);
    border: 2px solid #00FFA3; /* Added stroke around the container */
  }
  
  .initializing-mint-message.fade-in {
    opacity: 1;
  }

  .initializing-mint-message:hover {
    box-shadow: 0 0 15px rgba(0, 255, 163, 0.7);
    color: #00FFA3;
  }

  .initializing-mint-title {
    font-family: p-medium, sans-serif;
    font-size: 1rem;
    margin-top: 5px; /* Added small top margin */
    margin-bottom: 10px;
  }

  .initializing-mint-subtitle {
    font-family: p-light, sans-serif;
    font-size: 1rem;
    margin: 0;
  }