
.switch-and-text-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  width: auto;
}

.switch-text{
  font-family: p-light;
  font-size: 14px;
}

.switch-box {
  display: flex;
  align-items: center;
}

.slider {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
}
.ZKcenter {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  }
  
  .ZK-button-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
  }
  
  /* container for the button*/
  .compress-button-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: fit-content;
    height: 3rem;
  }
  
  .compress-button {
    display: flex;
    font-family: p-bold, sans-serif;
    font-size: 1rem;
    width: 10rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
    will-change: transform;
    backface-visibility: hidden;
    width: 100%;
    border: none;
    border-radius: 0.5rem;
    background-image: linear-gradient(to top right, #00A8CD, #00FFA3);
  }
  
  .compress-button:hover {
    background-image: linear-gradient(to bottom left, #00A8CD, #00FFA3);
      transform: scale(1.15);
  }

